


h1,h2,h3,h4,h5,p,a{
    font-family: Abhaya Libre;
    color: #20232C;

    text-decoration: none; 
}
h1,h2,h3{
    font-size: 40px;
    margin-bottom: 70px;
}
p{
    font-size: 24px;
}

form{
    font-family: Abhaya Libre;
}

.about-me,.advantages,.portfolio,.services,.contact,.reviews{
    padding: 150px 0;
}

.about-me-container,.advantages-container,.services-container,
.contact-container,.reviews-container{
    max-width: 1200px;
    margin: 0 auto;
}


header{
    max-height: 1000px;
    
    .header-container{
        .carousel{
            .carousel-inner{
                position: relative;
                .overlay{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0px;
                    left: 0px;
                    background-color: #00000071; /* Цвет overlay */
                }
                .carousel-item{
                    img{
                        max-height: 900px;
                    }
                    p{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        font-size: 50px;
                        color: #fff;
                    }
                }
            }
        }
    }
}

main{
    nav{
        background-color: #83746E;
        padding: 5px 0;
    
        position: sticky;
        top: 0;
        z-index: 1000;
        
        width: 100%;
        .nav-container{
            .nav-menu{
                display: flex;
                gap: 45px;
                align-items: center;
                
                justify-content: center;
                li{
                    margin-top: 10px;
                    a{
                        font-size: 20px;
                        color: #f4f4f4;
                        transition: 0.5s;
                    }

                    a:hover{
                        font-size: 21px;
                        color: #DFD6D1;
                    }
                    
                    .dropdown {
                        position: relative;
                        display: inline-block;
    
                        .dropdown-content {
                            display: none;
                            position: absolute;
                            background-color: #f9f9f9;
                            min-width: 160px;
                            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                            z-index: 1;
    
                            a{
                                color: black;
                                padding: 12px 16px;
                                text-decoration: none;
                                display: block;
                            }
                            a:hover {
                                background-color: #f1f1f1;
                            }
                        }
                
                
                        .show {
                            display: block;
                        }
                    }
                    
                }
            }
        }
    }
    
    
    .about-me{
    
        .about-me-container{
    
            h1{
                text-align: center;
                margin-bottom: 100px;

            }
            .about-me-desc{
                display: flex;
                justify-content: center;
                align-items: center;
    
                gap: 100px;
    
                margin-bottom: 150px;
                img{
                    width: 500px;
                    max-height: 700px;
    
                    border-top-left-radius: 150px;
                    border-top-right-radius: 150px;
                }
                .hero-right{
                    position: relative;
                    p{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    
                        color: rgb(32, 35, 44);
                        font-family: Abhaya Libre;
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 120.77%;
                        text-align: center;
    
                    }
                }
            }
        }
        .dashed-line {
            margin-top: 150px;
            border: none;
            border-top: 7px dashed #000; 
            width: 100%; 
        }
    }
    
    .advantages{
    
        .advantages-container{
            display: flex;
            justify-content: center;
    
            gap: 50px;
    
            .advantages-left, .advantages-right{
                display: flex;
                flex-direction: column;
                align-items: center;
    
                img{
                    max-width: 500px;
                    max-height: auto;
                }
    
                h2{
                    text-align: center;
                    font-size: 30px;
                    margin-bottom: 40px;
    
                    color: rgb(32, 35, 44);
                }
                ul{
                    li{
                        p{
                            text-align: center;
    
                            color: rgb(32, 35, 44);
                            font-family: Abhaya Libre;
                            font-size: 24px;
                            font-weight: 400;
                            line-height: 120.77%;
    
                            margin-bottom: 10px;
                        }
                    }
                }
            }
    
            .advantages-left{
                h2{
                    margin-top: 40px;
                }
            }
    
        }
    }
    
    .portfolio{
        margin: 0;
        .portfolio-container{
            h2{
                text-align: center;
                font-size: 40px;
    
                color: rgb(255, 255, 255);
            }
            ul{
                display: flex;
                flex: 1 1 auto;
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
                gap: 100px;
                
                color: rgb(255, 255, 255);
                li{
                    img{
                        margin: 50px 0;
                        max-width: 280;
                        height: auto;
                    }
                    h3{
                        color: rgb(255, 255, 255);
                    }
                    
                    
                }
            }

            .popup {
                display: none; /* Скрыто по умолчанию */
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgba(0, 0, 0, 0.5); /* Черный фон с прозрачностью */

                .popup-content {
                    background-color: #fefefe;
                    margin: 15% auto;
                    padding: 20px;
                    border: 1px solid #888;
                    width: 80%;
                    max-width: 600px;

                    .close {
                        color: #aaa;
                        float: right;
                        font-size: 28px;
                        font-weight: bold;
                    }
                    
                    .close:hover,
                    .close:focus {
                        color: black;
                        text-decoration: none;
                        cursor: pointer;
                    }

                    .popup-gallery {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;
                    }
                    
                    .popup-gallery img {
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                    }
                }
            }
            
        }
    }
    
    .services{
        .services-container{
            text-align: center;
    
            .services-headline{
                margin-bottom: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                h2{
                    font-size: 40px;
                    margin-bottom: 20px;
                }
    
                p{
                    max-width: 900px;
    
                    color: rgb(32, 35, 44);
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 120.77%;
                }
            }
    
            .services-items{

                ul{
                    display: flex;
                    flex: 1 1 auto;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 50px;

                    li{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: relative;

                        img{
                            max-width: 340px;
                            height: auto;

                            border-radius: 20%;
                            margin-bottom: 30px;
                        }

                        p{
                            max-width: 300px;
                        }

                        .overlay{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 78%;

                            background: rgba(0, 0, 0, 0);
                            color: rgba(255, 255, 255, 0);

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            transition: background 0.5s ease;
                            z-index: 1; /* Для отображения под текстом */
                            border-radius: 20%;
                            
                            font-family: Abhaya Libre;
                            font-size: 17px;
                            padding: 20px;
                        }

                        .overlay:hover{
                            background: rgba(0, 0, 0, 0.7); /* Изменение фона при наведении */
                            border-radius: 20%;

                            color: #fff;
                            transition: transform 0.5s ease; /* Переход для пульсации */
                            animation: pulse 3s infinite; /* Анимация пульсации */
                        }

                        .service-text{
                            position: absolute;
                            top: 40%;
                            left: 40%;
                            transform: translate(-50%, -50%);
                            color: #fff;
                        } 

                        .service-text{
                            animation: pulse 3s infinite;
                            
                        }

                        .container:hover .overlay {
                            left: 0;
                        }
                    }
                }
            }
            
            a{
                font-size: 24px;
                padding: 29px 30px;
                border-radius: 20px;
                border: 2px solid #83746E; 
                display: inline-block; 
                transition: 0.5s;
            }
            a:hover{
                background-color: #83746E;
                color: #fff;
                border: 2px solid #000;
            }
        }
    }
    
    .contact{
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    
        text-align: center;
        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #dfd6d19b; /* Цвет overlay */
        }
        .contact-container{
            position: relative;
    
            .contact-info{
                display: flex;
                justify-content: center;
                gap: 100px;
                
                max-height: 370px;
                
                margin-bottom: 300px;
                ul{
                    margin-top: 150px;
                    li{
                        h3{
                            font-size: 40px;
                            margin-bottom: 30px;
                        }
                        margin-bottom: 20px;
                        a{
                            color: #ffff;
                            font-size: 24px;
                            padding: 29px 30px;
                            border-radius: 50px;
                            width: 400px;
                            max-width: 400px;
                            min-width: 200px;
                            display: inline-block; 
                            background-color: #83746E;

                            transition: 0.5s;
                        }
                        a:hover{
                            font-size: 25px;
                            border: 1px solid black;
                        }
                    }
                }
                img{
                    max-width: 500px;
                    height: auto;
                }
            }
    
            .contact-form{
                h3{
                    margin-bottom: 40px;
                    font-size: 40px;
                }
                form {
                    max-width: 400px;
                    margin: 0 auto;
                    
    
                    input[type="text"], input[type="email"], input[type="tel"], input[type="submit"] {
                        width: 85%;
                        padding: 25px;
                        margin-top: 5px;
                        margin-bottom: 10px;
                        box-sizing: border-box;
                        border-radius: 20px;
    
                        background-color: #83746E;
                        font-size: 24px;
                        text-align: center;
    
                        transition: 0.5s;
                    }
    
                    input[type="text"]:hover, input[type="email"]:hover, input[type="tel"]:hover, input[type="submit"]:hover{
                        background-color: #726966;
                    }
    
                    ::placeholder {
                        color: #f6f4f4d2;
                        font-size: 20px;
                    }
                    
    
                    input[type="submit"] {
                        background-color: #83746E;
                        color: white;
                        border: none;
                        border-radius: 20px;
                        cursor: pointer;
    
                        max-width: 200px;
                    }
                    input[type="submit"]:hover {
                        background-color: #726966;
                        font-size: 25px;
                        border: 1px solid black;
                    }
                }
            }
        }
    }
    
    .reviews{
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
        position: relative;
        .overlay{
            position: absolute;
            width: 50%;
            height: 100%;
            top: 0;
            right: 0;
            background-color: #dfd6d19b; /* Цвет overlay */
        }
        .reviews-container{
            position: relative;
            h2{
                font-weight: 600;
                margin-left: -50px;
            }
            .reviews-block{
                display: flex;
                flex: 1 1 auto;
                flex-wrap: wrap;
                justify-content: center;
    
                gap: 100px;
                
                .review{
                    background-color: #ffffffcc;
                    border-radius: 50px;
    
                    width: 45%;
                    h3{
                        margin: 50px 0px 20px 30px;
                        font-size: 30px;
    
                        color: #83746E;
                    }
                    p{
                        font-size: 20px;
                        max-width: 90%;
                        margin: 0px 0px 50px 30px;
                    }
                    .stars{
                        margin: 0;
                        margin: 0 20px 10px;
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }
            
        }
    }
}